* {margin:0px; padding: 0px;} 

html {
    background-image: url("forest1.jpg");
    background-size: cover;
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* form styling--------------------------------------*/
form {
    border: 3px solid beige;
    border-radius: 20px;
    padding: 10px;
    background-image: linear-gradient(rgba(17, 75, 0, 0.212),20%, darkolivegreen);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Console";
}









input {
    /* border styling */
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(
      to right, 
      beige 80%, 
      transparent
    );
    border-image-slice: 0 0 100% 0;
    outline: none;
    /* --------------------*/
    background-color: transparent;
    margin: 5px;
    padding: 3px;
    font-family: inherit;   
    font-size: 18px;
    color: white;
    width: 150px;
    display: block;
    
    
}
input:focus {
    border-image: linear-gradient(
      to right, 
      yellowgreen 80%, 
      transparent
    );
    border-image-slice: 0 0 100% 0;
}

input::placeholder {
    color: beige;
}


#version {
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 15px;
    border: 1px solid white;
}














#icon {
    width: 60px;
    height: auto;
}
#chev {
    width: 25px;
    height: auto;
    border-radius: 5px;
}
#chev:focus-visible {
    outline: 3px solid yellowgreen;
}





