.preloader
{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background: #E6E7C5;;
z-index: 9999;
text-align: center;
}
.preloader-icon
{
position: relative;
top: 45%;
width: 100px;
}

















* {
  padding: 0px;
  margin: 0px;
}
html {
  background-color: #E6E7C5;
  padding: 0px;
}
img {
  width: 100%;
  height: auto;
}
.pfp {
  border-radius: 50%;
  width: 150px;
  height: auto;
  float: left;
  margin: 10px;
}
.cat {
  border-radius: 10px;
  width: 200px;
  height: auto;
  margin: 10px;
}
.en {
  font-family: josefin;
}
.footer {
  margin: 30px;
}
body {
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
::selection {
  background: burlywood;
  text-decoration: line-through;
}
.content {
  max-width: 750px;
  margin: auto;
  margin-top: 30px;

}
.footer {
  margin: auto;
  max-width: 750px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.footer a {
  text-decoration: none;
  font: 30px senty;
  color: #9C9990;
  font-weight: bold;
  margin: 5px;
  border-radius: 3px;
  padding: 5px;
}
.footer a:hover {
  color: #212B30;
  border: 2px solid #212B30;
}

/* Content styling -----------------------------------*/
p {
  margin: 0px;
  color: #212B30;
  font-size: 30px;
  font-family: senty;
}

h1 {
  font: 70px senty;
  color: #212B30;
  text-align: center;
  margin: 5px;
}

h2 {
  font: 50px senty;
  color: #9C9990;
  text-align: center;
  font-weight: bold;
  margin: 5px;
}
h3 {
  font: 40px senty;
  color: #212B30;
  text-align: center;
  margin: 5px;
}
h4 {
  font: 35px senty;
  color: #212B30;
  text-align: center;
  margin: 5px;
}
h5 {
  font: 30px senty;
  color: #212B30;
  text-align: center;
  margin: 5px;
}
.content a {
  color: #13315C;
}
h2 a {
  color: #827E73;
}

/* top navigation -------------------------------*/
.navbar {
  background-color: #0B2545;
  overflow: hidden;
  max-width: 750px;
  margin: auto;
  border-radius: 20px;
  padding: 5px;
  position:sticky;
  position:-webkit-sticky;
  top:10px;
}

/* links inside the navigation bar */
.navbar a {
  float: left;
  color: #E6E7C5;
  text-align: center;
  padding: 14px;
  padding-bottom: 20px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 20px;
  height: 20px;
  font-family: senty;
}

/* navbar links when hovering */
.navbar a:hover {
  background-color: #13315C;
}

/* Add a color to the active/current link */
.navbar a.current {
  background-color: #7D8491;
}
/* Fonts  --------------------------------------------*/
@font-face {
  font-family: josefin;
  src: url("../fonts/josefin.ttf");
}
@font-face {
  font-family: senty;
  src: url("../fonts/senty.ttf");
}
