
html {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background-color: darkolivegreen;
    background-image: url("forest.jpg");
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

/* ||| LAYOUT */

.window {
    height: 500px;
    width: 400px;
    resize: both;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 10px;
    box-sizing: border-box;
    box-shadow: -15px 15px 20px 5px rgba(0, 0, 0, 0.541);
    outline: 1px solid darkolivegreen;
}

.window header {
    height: 25px;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.863);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    border-bottom: 1px solid darkolivegreen;
}
.window article {
    flex: 1;
    background-color: beige;
    overflow: hidden;
}
.window * {
    user-select: none;
}
.window footer {
    height: 40px;
    width: 100%;
    background-color: rgb(201, 201, 201);
    border-top: 1px solid darkolivegreen;
}

.focused header {
    background-color: rgba(160, 160, 160, 0.829);
    background-image: linear-gradient(rgba(223, 223, 223, 0.637), rgba(73, 73, 73, 0.788));
}
.focused * {
    user-select: auto;
}

header i {
    color: black;
    margin: 15px;
    font-size: 20px;
    margin-left: auto;
    transition: background-color .25s linear;
    padding: 5px;
    border-radius: 2px;
}

header i:hover {
    background-color: red;
    color: white;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: black;
    display: inline;
    margin-left: 10px;
    user-select: none;
    font-weight: bold;
}

header img {
    height: 70%;
    width: auto;
    pointer-events: none;
    border-radius: 5px;
    margin: 5px;
    pointer-events: none;
}

aside {
    border-radius: 20px;
    backdrop-filter: blur(20px);
    background-color: rgba(223, 223, 223, 0.637);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    top: 0px;
    transition: all .25s ease;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
aside img {
    height: 32px;
    width: auto;
    border-radius: 10px;
    border-left: 3px solid rgba(0, 0, 0, 0.041);
    border-right: 3px solid rgba(0, 0, 0, 0.041);
    border-top: 3px solid rgba(0, 0, 0, 0.041);
    border-bottom: 3px solid black !important;
}
aside img:hover {
    border: 3px solid lightgrey;
}

.focused-tb {
    border-top: 3px solid red !important;
}

.overlapped {
    top: 100px;
}

#aside-div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    height: 55px;
    width: 250px;
    z-index: 20;
}



/* ||| UTILITIES */

.minimized {
    visibility: hidden;
}
.minimized-tb {
    border-bottom: 3px solid rgba(0, 0, 0, 0.041) !important;
}

#loading-overlay {
    position: fixed;
    background-color: black;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#loading-overlay p {
    color: white;
    opacity: 0;
    animation: fadein .5s ease 1s forwards;
    font-family: Arial, Helvetica, sans-serif;
}

/* ||| ANIMATIONS */

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ||| CUSTOM STYLING */

#map article{
    background-color: rgb(175, 175, 124);
    background-image: none;
}
#map article img {
    width: 100%;
    height: auto;
}

#komodogame footer {
    display: flex;
}
#komodogame footer input {
    flex: 1;
    height: 100%;
}