*{margin:0px;padding:0px;}
html{
    height:100%;
    background-color: honeydew;
}
body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pbox {
    width: 300px;
    height: 20px;
    border-radius: 10px;
    background-color: ivory;
    border: 1px solid lightcoral;
    overflow: hidden;
}
#prg {
    width: 0px;
    height: 100%;
    background-color: lightseagreen;
    transition: all .25s ease-out;
    text-align: center;
    user-select: none;
}
#prg p {
    margin-left: 15px;
}
canvas {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    
}