/*Page-specific css:*/

html {
  background-color: darkolivegreen;
  background-image: url("forest.jpg");
  background-attachment: fixed;
  background-size: cover;
}






.gamebox {
  height: 500px;
  width: 400px;
  min-height: 300px;
  max-height: 750px;
  min-width: 200px;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: moccasin;
  border: 3px solid goldenrod;
  overflow: hidden;
  resize: both;
  font-family: Georgia;
  position: absolute;
}
.header {
  cursor: move;
  background-color: black;
  background-image: url("leaf.jpg");
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 50px;
  border-bottom: 2px solid #303021;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#turns {
  position: absolute;
  left: 5px;
  top: 5px;
  margin: 0px;
  color: khaki;
  text-shadow: 0px 0px 2px darkolivegreen;
}
#vers {
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 0px;
  color: khaki;
  text-shadow: 0px 0px 2px darkolivegreen;
}
.header h1 {
  font-size: 24px;
  margin: 0px;
  color: khaki;
  text-shadow: 0px 0px 5px darkolivegreen;
}
.body {
  overflow: auto;
  flex: 1;
  padding: 10px;
}
.footer{
  border-top: 2px solid #303021;
  overflow: hidden;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
}
.footer p {
  margin: 0px;
}
#left-prompt {
  width: 30px;
  margin-left: 10px;
  color: #303021
}
#txt-entry {
  border: none;
  border-radius: 5px;
  background: transparent;
  font-size: 16px;
  font-family: Georgia;
  width: 100%;
  color: #303021;
}
#txt-entry:focus {
  outline: none;
}
#txt-form {
  flex: 1;
  margin-right: 20px;
}
.description {
  margin: 0px;
  font-style: italic;
  font-weight: bold;
  color: #303021;
}
.entry {
  color: #303021;
}
