* {margin:0px; padding: 0px; font-family: garamond, serif;} 

html {
    background-image: url("forest.jpg");
    background-size: cover;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-box {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box > * {
    margin: 10px;
}

.btn {
    background-color: yellowgreen;
    padding: 7px;
    width: 75px;
    text-align: center;
    font: 20px garamond;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;

}

.field {
    padding: 5px;
    font: 20px garamond;
}

#logo {
    width: 60px;
    height: auto;
    margin-left: 10px;
}

#version {
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    bottom: 10px;
    right: 10px;
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 15px;
    border: 1px solid white;
}

.logo-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.logo-box * {
    display: inline;
    margin: 0px;
}

.logo-box p {
    font-weight: bold;
    font-size: 25px;
}