* { padding: 0px; margin: 0px; }

html {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(lightskyblue, lightsteelblue);
  background-color: lightsteelblue;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginbox {
  background: lightskyblue;
  display: flex;
  flex-direction: column;
  border-radius: 10mm;
  padding-left: 6mm;
  padding-right: 6mm;
  border: 1mm dashed blue;
  color: black;
  font: 5mm Verdana;
  width: 50mm;
}

input {
  margin-bottom: 6mm;
  padding: 3mm;
  font: inherit;
  border: none;
  outline: none;
  border-radius: 5mm;
}
p {
  margin-bottom: 2mm;
}

#submit {
  background-color: #4C4348;
  color: white;
  cursor: pointer;
}

.logo {
  width: 20mm;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6mm;
  margin-bottom: 6mm;
}
