html {
  background-color: #ffffee;
}

#textwrapper {
  margin: auto;
  max-width: 500px;
  padding: 5px;
  font-family: incon;
}

h1 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: incon;
  font-weight: bold;
  font-size: 30px;
  color: black;
  text-align: center;
}
h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: incon;
  font-weight: normal;
  font-size: 20px;
  color: gray;
  text-align: center;
}
h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: incon;
  font-weight: bold;
  font-size: 20px;
  color: black;
  text-align: left;
}
p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: incon;
  font-weight: normal;
  font-size: 16px;
  color: black;
  text-align: left;
}


@font-face {
  font-family: incon;
  src: url("incon/inconvar.ttf");
}
